.payment-section {
    height: 700px;
    width: 700px;
    background-color: #f9f9f9;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  
  .subscription-fee {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    margin-left: 35px;
  }
  .subscription-amount {
    margin-left: 216px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 0.03em;
  }
  .subscription-card2 {
    background: linear-gradient(
      135deg,
      rgba(222, 67, 19, 0.2) 0%,
      rgba(222, 67, 19, 0.2) 0.75%,
      rgba(222, 67, 19, 0.2) 2.92%,
      rgba(222, 68, 20, 0.2) 6.37%,
      rgba(223, 69, 21, 0.2) 10.97%,
      rgba(223, 72, 22, 0.2) 16.59%,
      rgba(224, 75, 24, 0.2) 23.1%,
      rgba(225, 80, 27, 0.2) 30.37%,
      rgba(227, 86, 31, 0.2) 38.27%,
      rgba(229, 94, 36, 0.2) 46.66%,
      rgba(231, 104, 43, 0.2) 55.41%,
      rgba(235, 117, 51, 0.2) 64.39%,
      rgba(238, 132, 60, 0.2) 73.47%,
      rgba(243, 149, 71, 0.2) 82.52%,
      rgba(248, 169, 84, 0.2) 91.41%,
      rgba(254, 193, 99, 0.2) 100%
    );

    display: flex;
   justify-content: space-between;
    align-items: center;
    border: 2px solid;
  border-image-source: linear-gradient(
    135deg,
    #DE4313 0%,
    #DE4313 0.75%,
    #DE4313 2.92%,
    #DE4414 6.37%,
    #DF4515 10.97%,
    #DF4816 16.59%,
    #E04B18 23.1%,
    #E1501B 30.37%,
    #E3561F 38.27%,
    #E55E24 46.66%,
    #E7682B 55.41%,
    #EB7533 64.39%,
    #EE843C 73.47%,
    #F39547 82.52%,
    #F8A954 91.41%,
    #FEC163 100%
  );
  border-image-slice: 1;
  border-image-repeat: stretch;

    border-radius: 4px;
    padding: 7px;
    margin-top: 10px;
    width: 400px;
    margin-left: 15px;
  }
  
  .payment-images {
    display: flex;
    align-items: center;
    justify-content: start;
    margin-top: 1rem;
  }
  
  .alert-image {
    margin-left:-215px;
  }
  
  .subscription-info {
    display: grid;
    align-items: center;
    justify-content: end;
  }
  
  .subscription-text {
    font-weight: bold;
    position: relative;
    margin-top: -5px;
    margin-left: -120px;
  }
  .subscription-card2 p{
    color: #DE4313;
    font-family: 'Roboto';
   font-style: normal;
   margin-left: -10px;
  font-weight: 400;
   font-size: 14px;
  }
  .total-section {
    display: flex;
    text-align: center;
    justify-content: space-between;
    margin-top: 5px;
  }
  
  
  .payment-images {
    position: relative;
  }
  
  .text-image {
    position: absolute;
    top: -21px;
    left: 20%;
    transform: translateX(-50%);
    z-index: 1;
  }
  
  .text-image {
    position: relative;
    z-index: 2;
  }
  .total-text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    margin-left: 35px;
  }
  
  .total-price {
   margin-right: 4px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
     font-size: 24px;
    line-height: 100%;
    letter-spacing: 0.03em;
    color: #3C4852;  
  }
  
  .subscription-customs{
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 10px;
  }
  .subscription-fees2{
    margin-top: -2.8rem;
    margin-left: 12px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 0.03em
  }
  .subscription-section{
    border-top: 2px solid #BEBEBE;
    margin-top: 10px;
    width: 415px;
    margin-left: 20px;
  }
  .payment-subscription {
    display: flex;
    align-items: center;
    
    margin-top: 10px;
  }
  
  .subscription-prices {
    display: grid;
    align-items: center;
  }
  .subscription-custom{
    display: flex;
    align-items: center;
    gap: 20px;
  }
  .subscription-price-per-month {
    font-size: 16px;
    color: gray;
    margin-left: 0.5em;
  }
  .cancel-btn{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    padding: 14px 50px;
    color: #F77171;
    border: 1px solid #F77171;
    background: #FFFFFF;
    border-radius: 4px;
  }
  .payment-button{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 1rem;
    gap: 40px;
  }
  .pay-btn{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    padding: 14px 32px;
    border: none;
    color: #FFFFFF;

    background: #47BA68;
    border-radius: 4px;
  }

  .Razorpay{
    margin-top: 1rem;
    margin-left: 5px;
  }